:root{
--custom-white: rgb(237, 230, 230);
}

body{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/screen-shot-2020-05-15-at-9-06-38-am-1589548150.png");
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    display: flex;
    height: fit-content;
    width: 75%;
    border: 1px solid;
    background-color: #212529;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    padding: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    
}

h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:var(--custom-white);
    text-decoration: underline;
    text-decoration-color: var(--custom-white);
    justify-content: center;
    padding-top: 5px;
}
nav{
    display: flex;
}


.nav_pos{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: 10px;
}

.about_div{
    margin-top: 5%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.car_header{
    margin-top: 6%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.future_container{
    display: flex;
    justify-content: space-evenly;
}

.card_format {
width: 400px;
height: 100%;
overflow-y: scroll;
}

.card_container {
display: flex;
width: fit-content;
}

.spaced_out {
padding: 10px;
margin: 5px;
}

.outter_div {
overflow-x: scroll;
}


#toolbar_text{
    color:rgb(237, 230, 230);
}

#para_about{
    color:rgb(237, 230, 230);
}